body { 
  margin: 15px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #282828;
  color: #D3D3D3;
background-image: url("backgrounds/back1.png");
background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.header {
  overflow: hidden;
  padding: 20px 20px;
    background-color: gray;
  background-image: url("banner.png");
  background-size: contain;
  -webkit-image-rendering: pixelated;  /* For Safari and Chrome */
  image-rendering: pixelated;  /* Standard syntax */
  background-repeat-x: repeat;

	padding-left:10px
}


.header a {
  background-color: #3D3D3D;
  float: left;
  color: #D3D3D3;
  text-align: center;
  padding: 15px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  max-height: 55px;
  margin-left: 10px;
  float: right;
  
}
.header img {
  height: 75px;
  margin:-10px;
}

.header a:hover {
  background-color: #545454;
}

.webContent {
  background-color: #545454;
  margin-left: 20px;
  margin-right: 0px;
  margin-top: 20px;

}
.contContainer {
  float: right;
  direction: rtl;
  overflow-y: hidden;
    width: -webkit-calc(100% - 325px);
    width:    -moz-calc(100% - 325px);
    width:      -o-calc(100% - 325px);
    width:         calc(100% - 325px);
    height: -webkit-calc(100vh - 143px);
    height:    -moz-calc(100vh - 143px);
    height:      -o-calc(100vh - 143px);
    height:         calc(100vh - 143px);
    height: -webkit-calc((var(--vh, 1vh) * 100) - 143px);
    height:    -moz-calc((var(--vh, 1vh) * 100) - 143px);
    height:      -o-calc((var(--vh, 1vh) * 100) - 143px);
    height:         calc((var(--vh, 1vh) * 100) - 143px);

}
.contChild {
  height: auto;
  width: 100%;
  direction: ltr;
}
.contChild a {
  text-decoration: none;
  color: #D3D3D3;
}
@media (max-width: 1000px) {
  .advert {
    display: none;
  }
  .contContainer {
    width: 100%;
  }
  .webContent {
	margin-left: 0px;
  }
}
.icon {
	display: none;
}
@media (max-width: 655px) {
  .links {
    display: none;
  }
  .icon {
	display: initial;
  }
}


.advert {
    height: -webkit-calc(100vh - 143px);
    height:    -moz-calc(100vh - 143px);
    height:      -o-calc(100vh - 143px);
    height:         calc(100vh - 143px);
    height: -webkit-calc((var(--vh, 1vh) * 100) - 143px);
    height:    -moz-calc((var(--vh, 1vh) * 100) - 143px);
    height:      -o-calc((var(--vh, 1vh) * 100) - 143px);
    height:         calc((var(--vh, 1vh) * 100) - 143px);
  width: 325px;
  background-color: #ffffff;
  top:128px;
  left:15px;
  float:left;
 position: fixed; 
 opacity: 0.5;
}
.sel {
width: 100%;
    height: -webkit-calc((100vh - 160px)/2);
    height:    -moz-calc((100vh - 160px)/2);
    height:      -o-calc((100vh - 160px)/2);
    height:         calc((100vh - 160px)/2);
    height: -webkit-calc(((var(--vh, 1vh) * 100) - 160px)/2);
    height:    -moz-calc(((var(--vh, 1vh) * 100) - 160px)/2);
    height:      -o-calc(((var(--vh, 1vh) * 100) - 160px)/2);
    height:         calc(((var(--vh, 1vh) * 100) - 160px)/2);
position: relative;
}
h1 {
position:absolute;
bottom: 20px;
left: 50px;
font-size: 5vh;
font-size: -webkit-calc(var(--vh, 1vh) * 5);
font-size: -moz-calc(var(--vh, 1vh) * 5);
font-size: -o-calc(var(--vh, 1vh) * 5);
font-size: calc(var(--vh, 1vh) * 5);
}
